
.vertical-lines {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999; 
    pointer-events: none;
}

.vertical-lines__line {
    background-color: #fff;
    display: block;
    height: 100%;
    opacity: 0.2;
    position: absolute;
    width: 1px;
    transform: translateX(-50%);
}
.vertical-lines__line:nth-child(1) {
    left: 16.66%;
}
.vertical-lines__line:nth-child(2) {
    left: 50%;
}
.vertical-lines__line:nth-child(3) {
    right: 16.66%;
}

.skills .vertical-lines__line {
    background-color: #000;
}

.text-hover_inner {
    max-width: 100%;
    display: block;
    overflow: clip;
    position: relative;
    height: 28px;
}
  
.text-hover_elem {
    position: relative;
    line-height: 1.2;
    display: block;
}
  
.text-hover_elem span {
    display: inline-block;
    line-height: 1.2;
}
  
.gnb .text-hover_inner {
    height: 20px;
}

@media screen and (max-width: 1024px) {
    

.vertical-lines__line:nth-child(1) {
    left: 1%;
}
.vertical-lines__line:nth-child(2) {
    left: 50%;
    display: none;
}
.vertical-lines__line:nth-child(3) {
    right: 1%;
}

}
  