/* header.css */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    color: #fff;

    padding: 10px;
    width: 100%;
    font-family: CanelaText;
}

header .logo a {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    transition: color .3s;
    line-height: 1.2;
}


header .logo a:hover {
    color: #498e4f;
}

header .gnb {
    position: absolute;
    width: 100%;
    top: 0;
    left: 16.66%;
    padding: 10px;
}
header .gnb ul li {
    position: absolute;
    left: 10px;
}

header .gnb ul li:nth-child(2) {
    left: calc(33.33% + 10px);
}
header .gnb ul li:nth-child(3) {
    left: calc(66.66% + 10px);
}

header .gnb ul li button {
    position: relative;
    width: 100%;
    transition: all .3s;
    color: #fff;
    font-size: 16px;
}
header .gnb ul li button:hover {
    color: #498e4f;
}

.white header .logo a {
    color: #121212;
}

.white header .logo a:hover {
    color: #498e4f;
}

.white header .gnb ul li button {
    color: #121212;
}

.white header .gnb ul li button:hover {
    color: #498e4f;
}